.images {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.img-elem {
  width: auto;
  max-width: 200px;
}

.img-elem img {
  width: 200px;
}